{% extends 'ProjetSymfony2Bundle::layout.html.twig' %}



{% block title %}Dashbord{% endblock  %}
{% block section1 %}<span class="glyphicon glyphicon-th-list" aria-hidden="true"> </span> Information Générale    {% endblock  %}



{% block content %}
 <p>        </p>
        
<div class="col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>{{candidat}}</h3>
                  <p>Candidat inscrit</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>   
            </div>
                     
                  
<div class="col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>{{moniteur}}</h3>
                  <p>Moniteur inscrit</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>  
                  
<div class="col-lg-3 col-xs-12">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>{{responsable}}</h3>
                  <p>Responsable inscrit</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>     
              
                  <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>1</h3>
                  <p>Statistiques</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>

{% endblock  %}