{% extends 'ProjetSymfony2Bundle::layout.html.twig' %}

{% block title %}Ajouter un Candidat {% endblock  %}
{% block section1 %}<span class="glyphicon glyphicon-user" aria-hidden="true"> </span> Ajouter un Candidat     {% endblock  %}



{% block content %}




    <form  method="POST">
        <fieldset>
            <legend>Coordonée Candidat</legend>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">

                        <label >Nom Candidat :</label>
                        <input type="text" class="form-control" name="NomCandidat" required="required" placeholder="Entrer votre Nom">

                        <label >Prenom Candidat :</label>
                        <input type="text" class="form-control" name="PrenomCandidat" placeholder="Entrer votre Prenom" required="required">

                        <label >Adresse Candidat :</label>
                        <input type="text" class="form-control" name="Adresse" placeholder="Entrer votre Prenom" required="required">

                        <label >Numèro CIN :</label>
                        <input type="text" class="form-control" name="NumèroCIN" required="required" placeholder="Entrer votre Numèro de CIN">

                        <label >Numèro téléphone :</label>
                        <input type="text" class="form-control" name="NumèroTéléphone" required="required" placeholder="Entrer votre Numèro de téléphone">


                        <label >Date de naissance :</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" name="DateDeNaissance" data-mask="" data-inputmask="'alias': 'dd/mm/yyyy'" class="form-control" placeholder="Entrer votre date de naissance">
                        </div><!-- /.input group -->

                        <label >Email Candidat :</label>
                        <div class="input-group ">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </span>
                            <input  name="Email" class="form-control" type="email" placeholder="tapez votre Email">
                        </div>

                        <label >Mot de passe :</label>
                        <div class="input-group ">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-lock"></span>
                            </span>
                            <input name="MotDePasse" class="form-control" type="password" placeholder="tapez votre mot de passe">
                        </div> 


                    </div>       

                    <button type="submit" class="btn btn-default">Submit</button>

                    <div class="col-md-8"></div>
                </div>
        </fieldset>
    </form>






{% endblock  %}