{% extends 'ProjetSymfony2Bundle::layout5.html.twig' %}
{% block saif %}
    <form>
 <label >Lieu du rendez-vous :</label>
                        <input type="text" class="form-control" name="NomCandidat" required="required" placeholder="Entrer votre Nom">

                        <label >Date du Rendez-vous :</label>
                        <input type="text" class="form-control" name="PrenomCandidat" placeholder="Entrer votre Prenom" required="required">

                        <label >Adresse Candidat :</label>
                        <input type="text" class="form-control" name="Adresse" placeholder="Entrer votre Prenom" required="required">
    </form>  
                        {% endblock %}